@rendermode InteractiveServer
@page "/login"



<!-- Header -->
<div class="site-header">
	<h1> Property Auction </h1>

</div>


<div class="detail-container">
	<h2 id="login-title"> Log into your account</h2>
	<p class="detail-box">
		Email:<input type="text" id="emailInput" placeholder="Enter your email"><br>
		Password:<input type="password" id="passwordInput" placeholder="Enter your password"><br>
		<button>Login</button>
	</p>

	<h4 class="divider">or</h4>

	<button class="newAccbtn">Create an account</button>
</div>

<footer class="site-footer">
    <div class="footer-content">
        <div class="footer-section">
            <h3>About</h3>
            <a href="/about">About Us</a>
            <a href="/terms">Terms & Conditions</a>
        </div>
        <div class="footer-section">
            <h3>Contact</h3>
            <a href="/contact">Contact Us</a>
        </div>
    </div>
</footer>
