@rendermode InteractiveServer
@page "/register"
@using PropertyAuction.Services
@using System.Text.RegularExpressions
@using PropertyAuction.Core.Enums
@using PropertyAuction.Core.Interfaces
@inject IUserService UserService
@inject NavigationManager Navigation

<div class="site-header">
	<h1> MainsAuction </h1>

</div>


<div class="detail-container">
	<h2 id="register-title"> Create an account</h2>

	<p class="detail-box">
        Username:<input type="username" @bind="Username" placeholder="Create a username"><br>

		Email:<input type="email" @bind="Email" placeholder="Enter your email"><br>

        <label for="role"> Account type:</label>
        <select class="roleBox" @bind="Role"  placeholder="Select account type">
            <option value="Seller">Seller</option>
            <option value="Bidder">Bidder</option>
        </select>

		Password:<input type="password" @bind="Password"><br>

        Confirm Password: <input type="password" @bind="ConfirmPassword" placeholder="Re-enter your password"><br>

		<button @onclick="RegisterUser">Create account</button>

        <p style="color:red">@Feedback</p>

	</p>

	<h4 class="divider">or</h4>

	<button class="newAccbtn" @onclick='() => Navigation.NavigateTo("/login")'> 
        Log into your account
    </button>
</div>

<footer class="site-footer">
    <div class="footer-content">
        <div class="footer-section">
            <h3>About</h3>
            <a href="/about">About Us</a>
            <a href="/terms">Terms & Conditions</a>
        </div>
        <div class="footer-section">
            <h3>Contact</h3>
            <a href="/contact">Contact Us</a>
        </div>
    </div>
</footer>

@code{
    public string Username {get; set;}
    public string Email {get; set;}
    public string Role {get; set;} = "Bidder";
    public string Password {get; set;}
    public string ConfirmPassword {get; set;}

    public string Feedback {get; set;}

    private async Task RegisterUser()
    {
        Feedback = "";
        
        if (string.IsNullOrWhiteSpace(Username) ||
            string.IsNullOrWhiteSpace(Email) ||
            string.IsNullOrWhiteSpace(Password))
        {
            Feedback = "Please fill in all required fields ";
            return;
        }

        if (Password != ConfirmPassword)
        {
            Feedback = "Passwords do not match.";
            return;
        }

        try
        {
            var roleEnum = Role == "Seller" ? UserRole.Seller : UserRole.Bidder;

            await UserService.RegisterAsync(
                Username,
                Email,
                Password,
                roleEnum
            );

            Navigation.NavigateTo("/login");
        }
        catch (Exception ex)
        {
            Feedback = ex.Message;
        }
    }
}
