<div id="reconnect-modal" class="modal" tabindex="-1" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>Attempting to reconnect to the server...</p>
            </div>
        </div>
    </div>
</div>
