USE [master]
GO
/****** Object:  Database [PropertyDB]    Script Date: 13/03/2026 23:16:34 ******/
CREATE DATABASE [PropertyDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PropertyDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\PropertyDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PropertyDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\PropertyDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PropertyDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PropertyDB]
GO
/****** Object:  Schema [Property_Catalog]    Script Date: 13/03/2026 23:16:34 ******/
CREATE SCHEMA [Property_Catalog]
GO
/****** Object:  Schema [Sales]    Script Date: 13/03/2026 23:16:34 ******/
CREATE SCHEMA [Sales]
GO
/****** Object:  Schema [Support_Enquiries]    Script Date: 13/03/2026 23:16:34 ******/
CREATE SCHEMA [Support_Enquiries]
GO
/****** Object:  Schema [User_Authentication_data]    Script Date: 13/03/2026 23:16:34 ******/
CREATE SCHEMA [User_Authentication_data]
GO
/****** Object:  Table [Property_Catalog].[Addresses]    Script Date: 13/03/2026 23:16:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Property_Catalog].[Addresses](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[PropertyID] [int] NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[StreetAddress] [nvarchar](100) NOT NULL,
	[PostalCode] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Property_Catalog].[Bid]    Script Date: 13/03/2026 23:16:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Property_Catalog].[Bid](
	[BiddingID] [int] IDENTITY(1,1) NOT NULL,
	[PropertyID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BiddingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Property_Catalog].[Details]    Script Date: 13/03/2026 23:16:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Property_Catalog].[Details](
	[DetailsID] [int] IDENTITY(1,1) NOT NULL,
	[PropertyID] [int] NOT NULL,
	[RoomNumber] [int] NOT NULL,
	[BathroomNumber] [int] NOT NULL,
	[PropertySize] [nvarchar](1) NOT NULL,
	[FloorAreaFS] [nvarchar](1) NOT NULL,
	[PropertyCondition] [nvarchar](1) NOT NULL,
	[DateUploaded] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DetailsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Property_Catalog].[Images]    Script Date: 13/03/2026 23:16:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Property_Catalog].[Images](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[PropertyID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Property_Catalog].[Properties]    Script Date: 13/03/2026 23:16:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Property_Catalog].[Properties](
	[PropertyID] [int] IDENTITY(1,1) NOT NULL,
	[PropertyTitle] [nvarchar](50) NOT NULL,
	[PropertyDescription] [nvarchar](400) NOT NULL,
	[PropertyPrice] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PropertyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sales].[Offers]    Script Date: 13/03/2026 23:16:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sales].[Offers](
	[OfferID] [int] IDENTITY(1,1) NOT NULL,
	[PropertyID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OfferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [User_Authentication_data].[Buyer_Documentation]    Script Date: 13/03/2026 23:16:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [User_Authentication_data].[Buyer_Documentation](
	[BuyerDocID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BuyerDocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [User_Authentication_data].[Roles]    Script Date: 13/03/2026 23:16:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [User_Authentication_data].[Roles](
	[RoleID] [int] NOT NULL,
	[RoleName] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [User_Authentication_data].[Seller_Documentation]    Script Date: 13/03/2026 23:16:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [User_Authentication_data].[Seller_Documentation](
	[SellerDocID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SellerDocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [User_Authentication_data].[Users]    Script Date: 13/03/2026 23:16:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [User_Authentication_data].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[UserName] [nvarchar](30) NOT NULL,
	[Forename] [nvarchar](20) NOT NULL,
	[Surname] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [varbinary](64) NOT NULL,
	[PasswordSalt] [nvarchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[PhoneNumber] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Property_Catalog].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Property_ID] FOREIGN KEY([PropertyID])
REFERENCES [Property_Catalog].[Properties] ([PropertyID])
GO
ALTER TABLE [Property_Catalog].[Addresses] CHECK CONSTRAINT [FK_Property_ID]
GO
ALTER TABLE [Property_Catalog].[Bid]  WITH CHECK ADD FOREIGN KEY([PropertyID])
REFERENCES [Property_Catalog].[Properties] ([PropertyID])
GO
ALTER TABLE [Property_Catalog].[Details]  WITH CHECK ADD FOREIGN KEY([PropertyID])
REFERENCES [Property_Catalog].[Properties] ([PropertyID])
GO
ALTER TABLE [Sales].[Offers]  WITH CHECK ADD FOREIGN KEY([PropertyID])
REFERENCES [Property_Catalog].[Properties] ([PropertyID])
GO
ALTER TABLE [User_Authentication_data].[Buyer_Documentation]  WITH CHECK ADD  CONSTRAINT [FK_Users_ID] FOREIGN KEY([UserID])
REFERENCES [User_Authentication_data].[Users] ([UserID])
GO
ALTER TABLE [User_Authentication_data].[Buyer_Documentation] CHECK CONSTRAINT [FK_Users_ID]
GO
ALTER TABLE [User_Authentication_data].[Seller_Documentation]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [User_Authentication_data].[Users] ([UserID])
GO
ALTER TABLE [User_Authentication_data].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleID])
REFERENCES [User_Authentication_data].[Roles] ([RoleID])
GO
ALTER TABLE [User_Authentication_data].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
